.label {
  width: 16rem;
}

.input-with-label-container {
  display: flex;
  flex-direction: column;
}

.input {
  width: 16rem;
  height: 24px;
  border-style: solid;
  border-color: steelblue;
  font-size: 16px;
}

.input-error {
  border-color: red;
}

.error {
  color: red
}